.nav {
    background-color: #191924;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    position: sticky;
    top: -1px;
    z-index: 10;

    @media (max-width: 960px) {
        trastion: 0.8s all ease;
    }
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    z-index: 1;
    width: 100%;
    padding: 0 24px;
    max-width: 1200px;
}

.span {
    padding: 0 4px;
    font-weight: bold;
    font-size: 18px;
}

.mobileIcon {
    display: none;

    @media screen and (max-width: 768px) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.5rem;
        cursor: pointer;
        color: #F2F3F4;
    }
}

.navItems {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 6px;
    list-style: none;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.navLink {
    color: #F2F3F4;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.navLink:hover {
    color: #854CE6;
}

.select {
    height: 100%;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    background: transparent;
}

.buttonContainer {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 6px;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.githubButton {
    border: 1.8px solid #854CE6;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 70%;
    border-radius: 20px;
    color: #854CE6;
    cursor: pointer;
    padding: 0 20px;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.6s ease-in-out;

    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
}

.githubButton:hover {
    background: #854CE6;
    color: #FFFFFF;
}

.mobileMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    padding: 12px 40px 24px 40px;
    background: #191924;
    transition: all 0.6s ease-in-out;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    animation: slideInFromTop 0.5s ease-in-out;
}

.mobileLink {
    color: #F2F3F4;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.mobileLink:hover {
    color: #854CE6;
}

.mobileLink:active {
    border-bottom: 2px solid #854CE6;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}